{% extends "base.html" %}


{% block header %}
            <div id="logo">
                <a href="/" target="_top"> <img src="/static/favicon.svg" loading="lazy" alt="logo" /> </a>
                <a href="/" target="_top"> <strong>MultiPlayer Snake</strong> </a>
                <a href="/" target="_top"> <sub>mps.estada.ch</sub> </a>
            </div>
            <menu>
                <a href="/play">Play</a>
                {% if user.authenticated %}
                <!--<a href="/me">Your profile</a>-->
                {% endif %}
            </menu>
            <div id="user-icon">
            {% if user.authenticated %}
                <a href="/admin">Admin</a>
                <a href="/me/logout">Logout <img src="/me/identicon?{{ user.userkey }}" alt="identicon" /></a>
            {% else %}
                <!-- <a href="/me/login">Login</a> -->
            {% endif %}
            </div>
{% endblock %}
