{% extends "base_full.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <h1>A break game for <a href="https://rustfest.global" target="_blank">RustFest.global</a></h1>
    <h3>
        created by <a href="https://estada.ch">Stefan Schindler</a>
        (<a href="https://twitter.com/dns2utf8">@dns2utf8</a>)
    </h3>
    <p>
        <b>Goal:</b> Grow the Snake by eating the cyrcle shaped food. <br>
        <b>Controls:</b> Every second you can vote on the <u>direction</u> the Snake 
        is going to take in the next second: 
        Turning <b>Left</b>, <b>Straight</b> or <b>Right</b> will be decided by popular vote.
    </p>
    <p>
        <b>System Requirements:</b> Your browsers needs JavaScript, WebSocket and Canvas enabled for this to work.
    </p>
    <p>
        I gave a talk at Rust Zürisee, you can <a href="https://www.youtube.com/watch?v=Yb-QR3Vm3sk">watch the recording on youtube</a>.
    </p>
    <p>
        Checkout the <a href="https://gitlab.com/dns2utf8/multiplayer_snake">Source Code on GitLab</a>.
    </p>
{% endblock %}
